/*Color Palette:
Light Shades - #F4F7F5;
Light Accent - #83829A;
Main Brand Color - #876A74;
Dark Accent - #B14156;
Dark Shades - #221724;
*/

* {
    box-sizing: border-box;
    color: #221724;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:18px;
}

header {
  background-color: #F4F7F5;
  text-align: center;
  padding: 100px 10px 10px;
}

.name {
    color: #B14156;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    display: inline-block;
    border-radius: 10px;
    background-color:#83829A;
    width: 900px;
    height: 210px;
    align-content: center;
    vertical-align: text-bottom;
    margin-top: 90px;
}

img {
    width: 250px;
    height: 250px;
    margin-top: -90px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #83829A;
    position: fixed;
    width: 100%;
    top: 0
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #F4F7F5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #221724;
}

.column {
    float: left;
    width: 21%;
    height: 950px;
    background-color: #221724;
    padding:20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

#skills {
    background-color: #876A74;
}
#bio {
    background-color: #B14156;
    margin-left: 75px;
    width: 50%
}

#projects {
    background-color: #876A74;
    float: right;
}

#profile {
    text-align: center;
}

footer {
    margin-top: 90px
    clear: both;
}